html {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/backgroundtext2.jpg');
}

#all-content {
    width: 600px;
    height: 91.6vh;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #7fe1ef;
    padding: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #000000;


    -webkit-box-shadow: 6px 5px 42px 21px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 42px 21px rgba(0,0,0,0.75);
    box-shadow: 6px 5px 42px 21px rgba(0,0,0,0.75);
}

header {
    text-align: center;
}


#instructions {
    width: 480px;
    margin: 0 auto;
    padding: 20px;
    font-size: 14px;
    font-weight: 900;
    background-color: #5ec6ff;
    border-style: solid;
    border-width: 4px;
    border-radius: 30px;

    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);

}

#random-container {
    width: 160px;
    padding: 10px;
    background-color: #f2e448;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    display: inline-block;
    font-size: 20px;

    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}


#random-number {
    font-size: 40px;
}

#wins-losses {
    width: 160px;
    padding: 10px;
    background-color: #55e093;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    display: inline-block;
    font-size: 20px;

    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}


.crystals {
    width: 70px;
    margin-right: 20px;
    transition: all .2s ease-in;
}


.crystals:hover {
    cursor: pointer;
    transform:translate(0px, -5px);
}


#total-score {
    width: 130px;
    padding: 10px;
    background-color: #ff5e5e;
    margin: 0 auto;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

#totalscore-caption {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;

}

#display-total-score {
    font-size: 30px;
    text-align: center;
}

